<h1>Listado de Subtasques</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Descripcio</th>
        <th>Data d'inici</th>
        <th>Data de finalització</th>
        <th>Tasca-Referencia</th>
        <th>Eliminar</th>
        <th>Editar</th>
        
    </tr>
    {% for subtasca in subtasques %}
    <tr>
        <td>{{ subtasca.id }}</td>
        <td>{{ subtasca.nom }}</td>
        <td>{{ subtasca.descripcio }}</td>
        <td>{{ subtasca.dataInici | date('d-m-Y')}}</td>
        <td>{{ subtasca.dataFinal | date('d-m-Y') }}</td>
        <td>{{ subtasca.idTasca }}</td>
        <td>
            <a href="delete-subtasca/{{subtasca.id}}"><button>Eliminar</button></a>
        </td>
        <td><button class="btn btn-danger">Editar</button></td>
    </tr>
    {% endfor %}
</table>