{% extends "menu.html.twig" %}


{% block content %}
{{ parent() }}
        <div class="container menuinici letra-default llistar">
            <h4 class="letra-default titlemenu">Llistat de Subtasques</h4>
            <div class="centrartaula">
<table>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Descripcio</th>
        <th>Data d'inici</th>
        <th>Data de finalització</th>
        <th>Tasca-Referencia</th>
        <th>Eliminar</th>
        <th>Editar</th>
        
    </tr>
    {% for subtasca in subtasques %}
    <tr>
        <td>{{ subtasca.id }}</td>
        <td>{{ subtasca.nom }}</td>
        <td>{{ subtasca.descripcio }}</td>
        <td>{{ subtasca.dataInici | date('d-m-Y')}}</td>
        <td>{{ subtasca.dataFinal | date('d-m-Y') }}</td>
        <td>{{ subtasca.idTasca }}</td>        
        <td><i class="fas fa-edit"></td>
        <td>
            <a href="delete-subtasca/{{subtasca.id}}"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
{% endblock %}